*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.page-top{
    display: flex;
    align-items: center;
    background-color: white;
    height: 56px;
    padding:5px;
}
.logo{
    margin-left: 10px;
    height: 100%;
    width: 2rem;
}
.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.5rem;
}
.top-nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 1.5rem;
    color: black;
    font-size: 14px;
}
.top-nav a i{
    margin: 4px;
}
.search{
    margin-left: 1rem;
}
.search input{
    height: 2rem;
    width: 12rem;
    border: 1px solid grey;
    border-radius: 1rem;
    font-size: 16px;
}
.search .search-icon{
    position: relative;
    right: 3rem;
    opacity: 0.7;
    padding: 0.5rem;
}
.mode i{
    position: relative;
    right: 20px;
    font-size: 14px;
}
.info_TSG{
    display: flex;
    position: relative;
    left: 2rem;
}
.info_item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.info_item a{
    text-decoration: none;
    padding: 3px;
    color: black;
}
.sign-login{
    position: relative;
    left: 4rem;
    display: flex;
    height: 3rem ;
    width: 10rem;
    background-color: lightgreen;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
}
.sign-login .sign{
    background-color: green;
    margin-left: -40px;
    width: 5rem;
    padding: 14px;
    border-radius: 1.5rem;
    text-decoration: none;
}
.sign-login .login{
    margin-left: 0.5rem;
    text-decoration: none;
}
.nav-2{
    height: 4rem;
    width: 100%;
    background-color: black;
    padding: 5px;
}
.items{
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: scroll;
}
.last{
    margin-right: 40px;
}
.items a{
    text-decoration: none;
    color: white;
    margin-left: 2rem;
}
.main-container{
    height: 78vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
}
.one{
    height: inherit;
    width: 50%;
    background-color: black;
    border-radius: 30rem 30rem 0 0;
}
.one .con-1{
    color: white;
    font-size: 60px;
    letter-spacing: 12px;
    margin-top: 40%;
    margin-left: 40%;
    font-weight: 900;
}
.two{
    height: inherit;
    width: 50%;
    padding-left: 20rem;
    background-color: rgb(254, 254, 255);
    border-radius: 30rem 0rem 0rem  30rem;
}
.two .con-2{
    color: rgb(0, 0, 0);
    font-size: 60px;
    letter-spacing: 12px;
    margin-top: 40%;
    font-weight: 900;
}